@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Rock+Salt&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
header {
    font-family: 'Rock Salt', 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
main {
    border: .1rem skyblue inset;
    width: 80%;
    height: 50vh;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#quote-section {
    border: .1rem gray inset;
    padding: 2rem;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button {
    background-color: skyblue;
    font-family: inherit;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50px;
}
button:hover {
    background-color: black;
    color: skyblue;
}
footer {
    text-align: center;
    font-size: .9rem;
}