:root {
    --headerfont: 'Rock Salt', Arial, sans-serif;
    --bodyfont: 'Poppins', Arial, sans-serif;
    --background: #011140; /* oxford blue */
    --mainText: #E0E0E0; /* gray - main text */
    --button: #466C8C; /* steel blue - font headings, buttons, active */
    --hover: #F2937E; /* salmon - contact, view project, hover */
    --heading: #D96B62; /* burnt sienna - subheadings, borders */
    --label: #A65656; /* brick red - tags, labels, icons */
}


html body {
    background-color: var(--background);
    color: var(--mainText);
    font-family: var(--bodyfont);
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header {
    font-family: var(--headerfont);
    color: var(--heading);
    font-size: 1rem;
    text-align: center;
}

main {
    border: .5rem double var(--heading);
    width: 80%;
    height: 60vh;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#quote-section {
    background-color: var(--button);
    border: .25rem dashed var(--heading);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#copy-message {
    color: var(--hover);
}
button {
    background-color: var(--button);
    font-family: inherit;
    font-size: 1rem;
    border-radius: 55px;
    margin: 1rem;
    width: 110px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
button:hover {
    background-color: var(--hover);
    color: var(--mainText);
}
footer {
    text-align: center;
    font-size: .9rem;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
}
