:root {
    --headerfont: 'Rock Salt', Arial, sans-serif;
    --bodyfont: 'Poppins', Arial, sans-serif;
    --background: #232946;
    --mainText: #121629;
    --heading: #fffffe;
    --border: #fffffe;
    --button: #eebbc3;
    --hover: #b8c1ec;
}

* {
    box-sizing: border-box;
}

html body {
    background-color: var(--background);
    color: var(--mainText);
    font-family: var(--bodyfont);
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header {
    font-family: var(--headerfont);
    color: var(--heading);
    font-size: 1.5rem;
    text-align: center;
}

main {
    border: .5rem double var(--border);
    width: 80%;
    height: auto;
    min-height: 30rem;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CATEGORY & BUTTONS */
#category-selection, button {
    background-color: var(--button);
    color: var(--mainText);
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
    width: auto;
    height: 2rem;
}

#category-selection:hover, button:hover {
    background-color: var(--hover);
}

/* QUOTE SECTION */
#quote-section {
    background-color: var(--button);
    border: .25rem dashed var(--border);
    height: auto;
    min-height: 30rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quote-content {
    color: var(--mainText);
    display: inline;
    width: 100%;
    flex-wrap: wrap;
}

#copy-message {
    color: var(--mainText);
}

footer {
    text-align: center;
    font-size: .75rem;
}